In [7]:
#This notebook will be used for my capstone project

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Hello capstone project course!')

Hello capstone project course!

In [3]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [4]:
!wget -O collisions.csv http://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv

--2020-09-10 12:28:07--  http://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv
Resolving data-seattlecitygis.opendata.arcgis.com (data-seattlecitygis.opendata.arcgis.com)... 50.19.49.12, 34.224.12.157, 54.204.141.17
Connecting to data-seattlecitygis.opendata.arcgis.com (data-seattlecitygis.opendata.arcgis.com)|50.19.49.12|:80... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv [following]
--2020-09-10 12:28:07--  https://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv
Connecting to data-seattlecitygis.opendata.arcgis.com (data-seattlecitygis.opendata.arcgis.com)|50.19.49.12|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘collisions.csv’

    [     <=>                               ] 84,855,377  98.0MB/s   in 0.8s

2020-09-10 12:28:08 (98.0 MB/s) - ‘collisions.csv’ saved [84855377]

In [5]:
df = pd.read_csv('collisions.csv')
df.head()

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.386772,47.564720,1,326234,327734,E984735,Matched,Intersection,31893.0,CALIFORNIA AVE SW AND SW GENESEE ST,...,Dry,Daylight,Y,NaN,NaN,2,Vehicle turning left hits pedestrian,0,0,N
1,-122.341806,47.686934,2,326246,327746,E985430,Matched,Intersection,24228.0,STONE AVE N AND N 80TH ST,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,10,Entering at angle,0,0,N
2,-122.374899,47.668666,3,329254,330754,EA16720,Matched,Block,NaN,NW MARKET ST BETWEEN 14TH AVE NW AND 15TH AVE NW,...,Dry,Daylight,NaN,NaN,NaN,11,From same direction - both going straight - bo...,0,0,N
3,-122.300758,47.683047,4,21200,21200,1227970,Matched,Intersection,24661.0,25TH AVE NE AND NE 75TH ST,...,Wet,Dark - Street Lights On,NaN,4160038.0,NaN,28,From opposite direction - one left turn - one ...,0,0,N
4,-122.313053,47.567241,5,17000,17000,1793348,Unmatched,Block,NaN,S DAKOTA ST BETWEEN 15TH AVE S AND 16TH AVE S,...,NaN,NaN,NaN,4289025.0,NaN,NaN,NaN,0,0,N

In [6]:
df_c=df[['SEVERITYCODE','WEATHER','ROADCOND','LIGHTCOND']]
df_c.head()

  SEVERITYCODE  WEATHER ROADCOND                LIGHTCOND
0            2    Clear      Dry                 Daylight
1            2  Raining      Wet  Dark - Street Lights On
2            1    Clear      Dry                 Daylight
3            1  Raining      Wet  Dark - Street Lights On
4            0      NaN      NaN                      NaN

In [7]:
df_c.dropna()

       SEVERITYCODE   WEATHER ROADCOND                LIGHTCOND
0                 2     Clear      Dry                 Daylight
1                 2   Raining      Wet  Dark - Street Lights On
2                 1     Clear      Dry                 Daylight
3                 1   Raining      Wet  Dark - Street Lights On
6                 1     Clear      Dry  Dark - Street Lights On
7                 1     Clear      Dry                 Daylight
8                 2     Clear      Dry  Dark - Street Lights On
9                 1     Clear      Dry                 Daylight
10                1  Overcast      Dry                 Daylight
11                2     Clear      Dry                 Daylight
12                1     Clear      Dry  Dark - Street Lights On
13                1  Overcast      Wet                 Daylight
14                1     Clear      Dry                 Daylight
15                2     Clear      Dry                 Daylight
16                2   Raining      Wet                 Daylight
17                1     Clear      Dry                 Daylight
18                1  Overcast      Dry  Dark - Street Lights On
19                1   Raining      Wet  Dark - Street Lights On
20                1     Clear      Dry                     Dusk
21                1   Raining      Wet                 Daylight
22                1  Overcast      Dry  Dark - Street Lights On
23                1     Clear      Dry                 Daylight
24                1     Clear      Dry                 Daylight
25                2     Clear      Dry                 Daylight
26                2     Clear      Dry                 Daylight
27                1  Overcast      Wet                 Daylight
28                1     Clear      Dry                 Daylight
29                3     Clear      Dry                 Daylight
30                1     Clear      Dry  Dark - Street Lights On
31                2   Raining      Wet  Dark - Street Lights On
...             ...       ...      ...                      ...
221229            1   Raining      Wet                 Daylight
221231            1     Clear      Dry                 Daylight
221232            1   Unknown  Unknown                 Daylight
221233            2     Clear      Dry                 Daylight
221234            1  Overcast      Dry                 Daylight
221235            2     Clear      Dry                 Daylight
221236            2  Overcast      Dry                     Dusk
221237            2   Raining      Wet                 Daylight
221239            2     Clear      Dry                 Daylight
221240            1     Clear      Dry                 Daylight
221241            1     Clear      Dry                 Daylight
221242            1   Unknown  Unknown                  Unknown
221245            1  Overcast      Dry                 Daylight
221246            2     Clear      Dry                 Daylight
221247            2     Clear      Dry                 Daylight
221248            1  Overcast      Dry                 Daylight
221249            2     Clear      Dry                 Daylight
221252            1     Clear      Dry                     Dawn
221253            1     Clear      Dry                 Daylight
221254            2  Overcast      Dry                 Daylight
221255            1     Clear      Dry  Dark - Street Lights On
221256            1     Clear      Dry                 Daylight
221257            1     Clear      Dry                 Daylight
221259            1  Overcast      Wet  Dark - Street Lights On
221260            1  Overcast      Dry                 Daylight
221261            1   Unknown  Unknown                 Daylight
221262            2     Clear      Dry                 Daylight
221263            1     Clear      Dry                 Daylight
221264            1     Clear      Dry                 Daylight
221265            2     Clear      Dry                 Daylight

[194310 rows x 4 columns]

In [8]:
df_c['WEATHER'].value_counts()

Clear                       114361
Raining                      34021
Overcast                     28508
Unknown                      15131
Snowing                        919
Other                          853
Fog/Smog/Smoke                 577
Sleet/Hail/Freezing Rain       116
Blowing Sand/Dirt               56
Severe Crosswind                26
Partly Cloudy                    9
Blowing Snow                     1
Name: WEATHER, dtype: int64

In [9]:
df_c['ROADCOND'].value_counts()

Dry               128171
Wet                48715
Unknown            15131
Ice                 1231
Snow/Slush          1014
Other                136
Standing Water       119
Sand/Mud/Dirt         77
Oil                   64
Name: ROADCOND, dtype: int64

In [10]:
df_c['LIGHTCOND'].value_counts()

Daylight                    119166
Dark - Street Lights On      50053
Unknown                      13523
Dusk                          6076
Dawn                          2599
Dark - No Street Lights       1573
Dark - Street Lights Off      1236
Other                          244
Dark - Unknown Lighting         20
Name: LIGHTCOND, dtype: int64

In [11]:
!conda install -c anaconda seaborn -y
import seaborn as sns

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - seaborn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    seaborn-0.10.1             |             py_0         160 KB  anaconda
    openssl-1.1.1g             |       h7b6447c_0         3.8 MB  anaconda
    certifi-2020.6.20          |           py36_0         160 KB  anaconda
    ca-certificates-2020.7.22  |                0         132 KB  anaconda
    ------------------------------------------------------------
                                           Total:         4.2 MB

The following packages will be UPDATED:

    ca-certificates: 2020.7.22-0        --> 2020.7.22-0       anaconda
    certifi:         2020.6.20-py36_0   --> 2020.6.20-py36_0  anaconda
    openssl:         1.1.1g-h7b6447c_0  --> 1.1.1g-h7b6447c_0 anaconda
    seaborn:         0.9.0-pyh91ea838_1 --> 0.10.1-py_0       anaconda


Downloading and Extracting Packages
seaborn-0.10.1       | 160 KB    | ##################################### | 100%
openssl-1.1.1g       | 3.8 MB    | ##################################### | 100%
certifi-2020.6.20    | 160 KB    | ##################################### | 100%
ca-certificates-2020 | 132 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [12]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [13]:
df_c.groupby(['SEVERITYCODE'])['WEATHER'].value_counts(normalize=True)

SEVERITYCODE  WEATHER
0             Clear                       0.500000
              Raining                     0.500000
1             Clear                       0.568629
              Raining                     0.165968
              Overcast                    0.143586
              Unknown                     0.106894
              Snowing                     0.005526
              Other                       0.005414
              Fog/Smog/Smoke              0.002868
              Sleet/Hail/Freezing Rain    0.000636
              Blowing Sand/Dirt           0.000307
              Severe Crosswind            0.000135
              Partly Cloudy               0.000037
2             Clear                       0.627715
              Raining                     0.195622
              Overcast                    0.153247
              Unknown                     0.014154
              Fog/Smog/Smoke              0.003261
              Snowing                     0.002966
              Other                       0.002081
              Sleet/Hail/Freezing Rain    0.000503
              Blowing Sand/Dirt           0.000260
              Severe Crosswind            0.000121
              Partly Cloudy               0.000069
2b            Clear                       0.659980
              Raining                     0.173627
              Overcast                    0.146005
              Unknown                     0.012825
              Snowing                     0.003288
              Other                       0.002302
              Fog/Smog/Smoke              0.000987
              Sleet/Hail/Freezing Rain    0.000658
              Blowing Snow                0.000329
3             Clear                       0.671598
              Overcast                    0.156805
              Raining                     0.147929
              Fog/Smog/Smoke              0.008876
              Other                       0.008876
              Severe Crosswind            0.002959
              Unknown                     0.002959
Name: WEATHER, dtype: float64

In [35]:
df_c.groupby(['ROADCOND'])['SEVERITYCODE'].value_counts(normalize=True)

WEATHER                   ROADCOND
Blowing Sand/Dirt         1.0         0.581818
                          4.0         0.145455
                          6.0         0.127273
                          5.0         0.090909
                          0.0         0.054545
Clear                     1.0         0.955546
                          4.0         0.032202
                          6.0         0.005737
                          0.0         0.005116
                          5.0         0.000848
                          3.0         0.000306
                          7.0         0.000166
                          2.0         0.000079
Fog/Smog/Smoke            1.0         0.632582
                          4.0         0.284229
                          6.0         0.060659
                          0.0         0.015598
                          3.0         0.003466
                          5.0         0.003466
Other                     0.0         0.656874
                          1.0         0.225617
                          4.0         0.083431
                          6.0         0.022327
                          5.0         0.009401
                          3.0         0.001175
                          7.0         0.001175
Overcast                  1.0         0.585415
                          4.0         0.387177
                          0.0         0.013616
                          6.0         0.008001
                                        ...
Raining                   1.0         0.019314
                          2.0         0.002734
                          5.0         0.002734
                          0.0         0.001440
                          7.0         0.000970
                          6.0         0.000412
                          3.0         0.000323
Severe Crosswind          4.0         0.461538
                          1.0         0.423077
                          6.0         0.115385
Sleet/Hail/Freezing Rain  4.0         0.482759
                          5.0         0.241379
                          6.0         0.172414
                          1.0         0.051724
                          0.0         0.025862
                          2.0         0.025862
Snowing                   5.0         0.601741
                          6.0         0.187160
                          4.0         0.173014
                          1.0         0.026115
                          0.0         0.009793
                          3.0         0.002176
Unknown                   0.0         0.902844
                          1.0         0.056151
                          4.0         0.028770
                          5.0         0.006151
                          6.0         0.004894
                          3.0         0.000529
                          2.0         0.000463
                          7.0         0.000198
Name: ROADCOND, Length: 67, dtype: float64

In [14]:
df_c['WEATHER'].replace(to_replace=['Other','Unknown','Clear','Overcast','Partly Cloudy','Fog/Smog/Smoke','Blowing Sand/Dirt','Raining','Snowing','Blowing Snow','Severe Crosswind','Sleet/Hail/Freezing Rain'], value=[0,0,1,2,3,4,5,6,7,8,9,10],inplace=True)
df_c['SEVERITYCODE'].replace(to_replace=['2b','3'], value=[3,4],inplace=True)
df_c.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

  SEVERITYCODE  WEATHER ROADCOND                LIGHTCOND
0            2      1.0      Dry                 Daylight
1            2      6.0      Wet  Dark - Street Lights On
2            1      1.0      Dry                 Daylight
3            1      6.0      Wet  Dark - Street Lights On
4            0      NaN      NaN                      NaN

In [15]:
df_c.dropna()
df_c.head()

  SEVERITYCODE  WEATHER ROADCOND                LIGHTCOND
0            2      1.0      Dry                 Daylight
1            2      6.0      Wet  Dark - Street Lights On
2            1      1.0      Dry                 Daylight
3            1      6.0      Wet  Dark - Street Lights On
4            0      NaN      NaN                      NaN

In [16]:
df_c['ROADCOND'].replace(to_replace=['NaN','Other','Unknown','Dry','Standing Water','Sand/Mud/Dirt','Wet','Snow/Slush','Ice','Oil'], value=[0,0,0,1,2,3,4,5,6,7],inplace=True)

In [17]:
df_c['LIGHTCOND'].replace(to_replace=['NaN','Other','Unknown','Daylight','Dawn','Dusk','Dark - Street Lights On','Dark - Unknown Lighting','Dark - Street Lights Off','Dark - No Street Lights'], value=[0,0,0,1,2,3,4,5,6,7],inplace=True)
df_c.head()

  SEVERITYCODE  WEATHER  ROADCOND  LIGHTCOND
0            2      1.0       1.0        1.0
1            2      6.0       4.0        4.0
2            1      1.0       1.0        1.0
3            1      6.0       4.0        4.0
4            0      NaN       NaN        NaN

In [18]:
df_c.dropna()
df_c.head()

  SEVERITYCODE  WEATHER  ROADCOND  LIGHTCOND
0            2      1.0       1.0        1.0
1            2      6.0       4.0        4.0
2            1      1.0       1.0        1.0
3            1      6.0       4.0        4.0
4            0      NaN       NaN        NaN

In [34]:
df_g=df_c.dropna()
df_g.head()

  SEVERITYCODE  WEATHER  ROADCOND  LIGHTCOND
0            2      1.0       1.0        1.0
1            2      6.0       4.0        4.0
2            1      1.0       1.0        1.0
3            1      6.0       4.0        4.0
6            1      1.0       1.0        4.0

In [38]:
df_g['WEATHER'].astype(float)
df_g['ROADCOND'].astype(float)
df_g['LIGHTCOND'].astype(float)
df_g['SEVERITYCODE'].astype(float)
df_g.head()

  SEVERITYCODE  WEATHER  ROADCOND  LIGHTCOND
0            2      1.0       1.0        1.0
1            2      6.0       4.0        4.0
2            1      1.0       1.0        1.0
3            1      6.0       4.0        4.0
6            1      1.0       1.0        4.0

In [39]:
Feature = df_g[['ROADCOND','WEATHER','LIGHTCOND']]
X = Feature
X[0:5]

   ROADCOND  WEATHER  LIGHTCOND
0       1.0      1.0        1.0
1       4.0      6.0        4.0
2       1.0      1.0        1.0
3       4.0      6.0        4.0
6       1.0      1.0        4.0

In [41]:
y = df_g['SEVERITYCODE'].values
y[0:5]

array(['2', '2', '1', '1', '1'], dtype=object)

In [42]:
X= preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[-0.50812217, -0.49885582, -0.57274889],
       [ 1.5840527 ,  2.0358884 ,  1.43176906],
       [-0.50812217, -0.49885582, -0.57274889],
       [ 1.5840527 ,  2.0358884 ,  1.43176906],
       [-0.50812217, -0.49885582,  1.43176906]])

In [44]:
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (155448, 3) (155448,)
Test set: (38862, 3) (38862,)

In [ ]:
k = 7
#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh

yhat = neigh.predict(X_test)
yhat

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test, yhat, average='weighted')

In [ ]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test, yhat)

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (155448, 3) (155448,)
Test set: (38862, 3) (38862,)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test, yhat, average='weighted')

In [ ]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test, yhat)

In [ ]:
from sklearn import svm
clf = svm.SVC(kernel='rbf')
clf.fit(X_train, y_train) 

yhat = clf.predict(X_test)
yhat

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test, yhat, average='weighted')

In [ ]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test, yhat)

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (155448, 3) (155448,)
Test set: (38862, 3) (38862,)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

In [ ]:
yhat = LR.predict(X_test)
yhat

In [ ]:
yhat_prob = LR.predict_proba(X_test)
yhat_prob[0:5]

In [ ]:
from sklearn.metrics import jaccard_similarity_score
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss

In [ ]:
jaccard_similarity_score(y_test, yhat)

In [ ]:
f1_score(y_test, yhat, average='weighted')

In [ ]:
from sklearn.metrics import log_loss
log_loss(y_test, yhat_prob)

In [51]:
| Algorithm          | Jaccard | F1-score | LogLoss |
|--------------------|---------|----------|---------|
| KNN                |   .79   |   .78    | NA      |
| Decision Tree      |   .72   |   .74    | NA      |
| SVM                |   .73   |   .74    | NA      |
| LogisticRegression |   .69   |   .67    |.58      |

SyntaxError: invalid syntax (<ipython-input-51-65558e801c40>, line 1)